﻿<!DOCTYPE html>

<html lang="en">
    @Scripts.Render("~/bundles/jquery")

    <head>    
        <meta charset="utf-8" />
        <title>@ViewBag.Title EATurner</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
        @Styles.Render("~/Content/bootstrap")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/bootstrap")
        @Scripts.Render("~/bundles/jqueryui")
    </head>
   
        <header>
         @RenderSection("featured", required: false)           
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title fade in"> Turner </p>
                </div>                
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer id="foot">
            <div class="content-wrapper">
                <div class="float-right">
                    <p>&copy; @DateTime.Now.Year - Turner Application</p>
                </div>
            </div>
        </footer>      
        @RenderSection("scripts", required: false)
   
</html>
