﻿@model System.Web.Mvc.HandleErrorInfo
<link href="../../Content/CustomStyle.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">An error occurred while processing your request. Please try again later</h2>
</hgroup>
