﻿@model MovieTitles.Models.MoviesList
@using GridMvc.Html;

<script src="../../Scripts/getdata.js" type="text/javascript"></script>
<script src="../../Scripts/gridmvc.lang.ru.js" type="text/javascript"></script>
<script src="../../Scripts/gridmvc.min.js" type="text/javascript"></script>
<script src="../../Scripts/gridmvc.js" type="text/javascript"></script>
<link href="../../Content/Gridmvc.css" rel="stylesheet" type="text/css" />

<style>

.table th, .table td {
    line-height: 20px;
    padding: 5px;
    text-align: center;
    vertical-align: top;
}
</style>
@Html.Grid(Model.MovieBasicsList).Columns(columns =>
           {
               columns.Add(movieInfo => movieInfo.TitleId, true).Titled("Title Id").Css("titleId");//.SetWidth(110).Css("titleId").Sortable(true);
               columns.Add(movieInfo => movieInfo.MovieName).Titled("Movie Name").Css("movieName").Filterable(true).Sortable(true);//.SortInitialDirection(GridMvc.Sorting.GridSortDirection.Ascending);
               columns.Add(movieInfo => movieInfo.ReleaseYear).Titled("Release Year");
               columns.Add(movieInfo => movieInfo.AwardWon).Titled("Award Won");
               columns.Add(movieInfo => movieInfo.GenreName).Titled("Genre");
               columns.Add(movieInfo => movieInfo.IsOnScreen).Titled("On Screen");
               
}).WithPaging(10,5)


<div class="container">
<div id="tablePopup" class="modal hide fade in" style="display: none; ">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Movie Details</h3>
            </div>
            <div class="modal-body" id="popupDataContainer">		        
            </div>
            <div class="modal-footer">
              <a href="#" class="btn close" data-dismiss="modal">Close</a>
            </div>
          </div>
</div>






