﻿@model MovieTitles.Models.MovieInfoList
@using GridMvc.Html;
@{
    Layout = null;
    }
<script>
    $(document).ready(function () {
        $('#divAwardAccordionbar, #divTPAccordionbar,#divStoryLinesAccordionbar').click(function (e) {
            e.preventDefault();
            $(this).next().toggle();
            return false;
        });
      
    });
</script>

<div id="popupTableContainer">

<div style="width:100%;">
<div id="divAwardAccordionbar" class="divAcc" title="Award">
<span>Award</span>
</div>
<div style="margin:15px;display:none">
@Html.Grid(@Model.MovieInfo[0].Awards).Columns(columns =>
           {
             columns.Add(movieInfo => movieInfo.Award1).Titled("Award").SetWidth(325);
             columns.Add(movieInfo => movieInfo.AwardCompany).Titled("Award Company").SetWidth(305);
             columns.Add(movieInfo => movieInfo.AwardYear).Titled("Award Year");
                          
}).WithPaging(10,5)
</div>
</div>

<div style="width:100%;">

<div id="divStoryLinesAccordionbar" class="divAcc">
<span>Story Lines</span>
</div>

<div style="margin:15px;display:none">
@Html.Grid(@Model.MovieInfo[0].StoryLines).Columns(columns =>
           {
             columns.Add(movieInfo => movieInfo.Type).Titled("Type").SetWidth(100);
             columns.Add(movieInfo => movieInfo.Description).Titled("Description");
             columns.Add(movieInfo => movieInfo.Language).Titled("Language").SetWidth(100); 
             
}).WithPaging(10,5)
</div>
</div>

<div style="width:100%;">
<div id="divTPAccordionbar" class="divAcc">
<span>Title Participants</span>
</div>
<div style="margin:15px;display:none">
@Html.Grid(@Model.MovieInfo[0].TitleParticipants).Columns(columns =>
           {
             columns.Add(movieInfo => movieInfo.RoleType).Titled("Role Type").SetWidth(325);
             columns.Add(movieInfo => movieInfo.IsKey).Titled("Is Key").SetWidth(305);
             columns.Add(movieInfo => movieInfo.ParticipantId).Titled("Participant Id");                        
}).WithPaging(10,5)
</div>
</div>



</div>





