﻿ td.movieName 
{
    cursor:pointer;
    text-decoration:underline;
    color:rgba(160, 13, 225, 1);
}

#body
{
    height:500px;
    }

th
{
    background-color:rgba(85, 35, 122, 0.6);
    }

.grid-pager
{
    background-color:#A888BF;
    color:White !important;
    box-shadow: 5px 5px 5px 5px #484545;
}

.grid-pager span
{
    padding-left:10px;
    color:White;
}

.grid-pager a
{
    color:White;
}
table.grid-table tr.grid-row-selected td hover
{
    background: none repeat scroll 0% 0% rgb(144, 72, 194) !important;
color: #FFF;
}

footer
{
    background-color: rgba(168, 136, 191, 1);
    height: 35px;
    margin: 5px;
    color: #FFF;
    font-size: 1em;
    padding-top: 13px;
}    

header
{
    background-color:rgba(120, 82, 149, 1)    
}
