﻿html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    overflow-y:hidden;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
    color: white;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #DBDCDD;
    clear: both;
    padding-bottom: 35px;
    padding-top: 25px;
    margin: 5px;
    height:auto;
    max-height:450px;
    overflow:auto;
}



    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }

header
{
     background-color: #2F3F4E;
     margin: 5px;
     height:56px;
}
header .content-wrapper {   
    padding-top: 9px;
}

#tablePopup header .content-wrapper {
   display:none;
   
}
#tablePopup #body
{
    background-color:White;
      height: 330px;
    overflow-y: scroll;
}


footer {
  background-color: #2F3F4E;
    clear: both;
    color: #FFFFFF;
    font-size: 1em;
    height: 41px;
    margin: 5px;
    padding-top: 13px;
    position: fixed;
    top: 608px;
    vertical-align: bottom;
    width: 99%;

}

#tablePopup footer{
   display:none;
   
}
/* site title
----------------------------------------------------------*/
.site-title {
    color: white;
    font-family: Edwardian Script ITC;
    margin: 0px;
    font-size: 5em;
    margin: 10px;
    animation: 100s ease-out scroll 5s normal 5;
animation-fill-mode: initial;
}


/* tables
----------------------------------------------------------*/


th {
    font-size: 1.2em;
    text-align: center;
    padding-left: 15px;
    padding-right:15px;
    padding-bottom:10px;
    padding-top:10px;
    background-color:rgba(38, 53, 66, 0.72);
       
}


td {
   
background-color: rgba(38, 53, 66, 0.37);
text-align: center;
padding-left: 15px;
padding-right: 15px;
padding-bottom:10px;
padding-top:10px;

}

 td.movieName 
{
    cursor:pointer;
    text-decoration:underline;
   
}

tr.pager td {
    padding: 0 0.25em 0 0;
}

.grid-pager
{
    background-color:#586B7D;
    color:White !important;
    box-shadow: 4px 1px 6px 0px #484545;
}

.grid-pager span
{
    padding-left:10px;
    color:White;
}

.grid-pager a
{
    color:White;
}

    
#divAwardAccordion
{
    border:10px solid aqua;
    }
    
#divAwardAccordionbar span ,#divTPAccordionbar span ,#divStoryLinesAccordionbar span
{
    color: #FFFFFF;
    float: left;
    font-size: 17px;
    font-weight: bolder;
    margin: 9px;
}

.divAcc
{
    margin:10px;
   cursor:pointer;
    background-color:#647A90;
    height:35px;
    
}

@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }
    
    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
      
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
